.about-main{
    display:grid;
    
    grid-auto-rows:minmax(10vh,auto);
   height:100%;
   padding:2rem;
    
    

}
.about-main .name-bar{
    font-size: 1.2rem;
}
.about-main .name-bar{
    display:flex;
    justify-content: space-between;
    align-items:center;

   
   

}
.about-main .name-bar .name h2{
font-size: 1.6rem;
}
.about-main .name-bar .linkedin-abt{
	font-size:.8rem;
	padding-left:2rem;
}
.about-main .education .heading, .about-main .experience .heading, .about-main .languages .heading{
    font-size: 1.2rem;
}
.about-main .para{
    grid-column: 1/3;
    
}
.about-main .education{
    display:flex;
    grid-column: 1/3;
    flex-direction: column;
}
.about-main .education .x{
    display:flex;
    justify-content: space-between;


}
.about-main .x .icon img{
    width:150px;
   
   
}
.about-main .x .life{
   display:flex;
   flex-direction: column;
   justify-content: center;
   width:30rem;
   
}
.about-main .x .life .duration{
 color:rgb(164, 161, 161);
}
 .cv-button button{
    color:White;
    background-color: black;
    width:15rem;
    height:3rem;
    border-top-right-radius: 1.5rem;
    border-radius:10px 30px 1px 10px;
    transition:all .7s;
    font-weight: 700;
  font-size: 18px;

}
.cv-button button:hover{
    cursor:pointer;
    background-color: rgb(20, 140, 215);
    color:black;
}
.about-main .projects{
    grid-column:1/3;
    margin:1rem;
  
    
}
.about-main .projects a{
    color:black;
    font-size: 25px;
}


.about-main .cv-button{
  grid-column: 1/3;
  margin: 1rem;
}

   
 .about-main .projects button{
   
    background-color: black;
    width:12rem;
    height:3rem;
    border-top-right-radius: 1.5rem;
    border-radius:10px 30px 1px 10px;
    transition:all .7s;

   

 }
.about-main .projects button:hover{

cursor:pointer;
    background-color: rgb(20, 140, 215);
    color:black;}

  
 .about-main .projects button a{
    color:White;
    font-weight: 700;
    font-size: 18px;}


.linkedin-abt a i{
    
    font-size: 30px;
    color:#0a66c2;
  
}
.about-main .para{
    padding-bottom: 1rem;
}
.footerabt{
    background-color: black;
   display:flex;
   position: absolute;
justify-content: center;

   
  
    height:30px;
   
    width:100%;
  
}
.footerabt .footer-text{
    color:rgb(188, 184, 184);
    font-family: Chivo Mono,sans-serif;
    font-weight: 400;
    font-size: 10px;
   
    padding-top: .5rem;
    
   
 
}
.footerabt .footer-text i:hover{
    color:red;

}








@media only screen and (max-width:900px){

.about-main .name-bar .name h2{
font-size: 1.3rem;

}


.about-main .name-bar{
    font-size: 1.1rem;
}

.about-main .education .heading, .about-main .experience .heading, .about-main .languages .heading{
    font-size: .9rem;
}
.about-main .x .life{
	font-size:.9rem;

}


.about-main .projects button{
   
    
    width:10rem;
    height:2.5rem;
    
   

 }
 .cv-button button{
    color:White;
    background-color: black;
    width:13rem;
    height:2.5rem;
    border-top-right-radius: 1.5rem;
    border-radius:10px 30px 1px 10px;
    transition:all .7s;
    font-weight: 700;
  font-size: 18px;

}
}

@media only screen and (max-width:720px){



.about-main .para{
	font-size:.85rem;
}
.about-main .x .icon img{
    max-width:110px;

}


}
@media only screen and (max-width:680px){

.about-main .name-bar .name h2{
font-size: 1.2rem;

}


.about-main .name-bar{
    font-size: 1rem;
}



.about-main .x .icon img{
    max-width:80px;

}
.about-main .x .life{
	font-size:.8rem;

}
.languages ul{
	font-size:.8rem;
}


.about-main .projects button{
   
    
    width:8rem;
    height:2rem;
    
   

 }
  .about-main .projects button a{
    color:White;
    font-weight: 700;
    font-size: 13px;}
 .cv-button button{
    color:White;
    background-color: black;
    width:11rem;
    height:2rem;
    border-top-right-radius: 1.5rem;
    border-radius:10px 30px 1px 10px;
    transition:all .7s;
    font-weight: 700;
  font-size: 13px;

}

}

@media only screen and (max-width:650px){
	.about-main{
		padding:1rem;
		width:200px;
	}
	

	.about-main .education .x{

    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:1.2rem;


}
.about-main .x .icon img{
    max-width:100px;

}
.about-main .x .life{
	font-size:.9rem;

}
.about-hr{
	width:25rem;
}
.para p{
	font-size:.8rem;
	width:400px;
	
}
.para2{
	display:none;
}
.about-main .education{
		max-width:300px
	}


.name-bar .linkedin-abt{
	padding-left:15px;
	font-size:10px;
}
.x{
	display:block;
}
}
@media only screen and (max-width:450px){
	.about-main .education{
		max-width:200px
	}
	.about-hr{
		width:200px;
	}
}

@media only screen and (max-width:420px){
	.about-main .education,.name-bar{
		max-width:150px
	}
	.para .para1{
		max-width:250px;
	}