*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Lato, Arial;
}

body{
  
background-image:url("universe.jpg");

background-size:cover;
background-repeat:no-repeat;
  
   transition:all .5s;
   background-color:rgba(0,0,0);
    
}
.form{
    background-color: black;
  
    

}
label{
  padding-left:5px;
}
input,textarea{
  border: 0.1rem solid rgba(0,0,0,.4);
  border-radius:3px;
}
.b{
    display:flex;
  
    justify-content:center;
}
.a{
    display:inline-block;
}

.contact{
   position:absolute;
   left:40%;
  bottom:20%;
  height:50vh;
  width:60vh;
  border-radius: 10px; 
   background-color: white;
   box-shadow: 1px 1px 20px black;
}
caption{
    padding-bottom: 1rem;
    padding-top: .5rem;
    background-color:rgb(115, 114, 114);
   color:white;
}

tr td{
    padding-right: 1rem;
    padding-bottom:15px;
}
table{
    width:100%;

}
.button{
padding-left: 6px;
}
button{
    width:7rem;
    height:1.5rem;
    background-color:rgb(25, 25, 144);
    color:white;
    border-radius: 3px;
    transition: all .5s;
    

}
button:hover{
border-inline-start-color: black;
background-color: red;
}
#check{
 width:30px
}

#dummy{
    text-align: center;
    color:rgb(26, 154, 11);
    font-weight: 700;
    font-size: 1.2rem;
}
textarea,#subject,#name{
    min-width:15rem;
    max-width: 18rem;
    max-height: 6rem;
    min-height: 1.5rem;
}

nav{
    background-color: black;
    height:5rem;
    box-shadow: 0px 0px 4px white;
    
}
nav .link{
    
padding-top:20px;
padding-left:50px;
}
nav a{
color:white;
font-size:1.5rem;
font-weight:bold;

}
nav a:hover{
text-shadow:5px 1px 5px white;
    
}

@media only screen and (max-width:1150px)
 {   
    

.contact{
   position:absolute;
   left:30%;
  bottom:20%;
  height:55vh;
  width:65vh;
  border-radius: 10px; 
   background-color: white;
   box-shadow: 1px 1px 20px black;
}

}
@media only screen and (max-width:1000px)
 { 

  .contact{
   position:fixed;
   left:20%;
  bottom:20%;
  height:55vh;
  width:65vh;
  border-radius: 10px; 
   background-color: white;
   box-shadow: 1px 1px 20px black;
}
}

@media only screen and (max-width:950px){

 .contact{
   position:static;
   
  height:55vh;
  width:65vh;
  border-radius: 10px; 
   background-color: white;
   box-shadow: 1px 1px 20px black;
   margin:1rem;
}
nav .link{
    
width:500px;
}
